.button {
    color: #fff;
    background-color: #00bc77;
    border-color: #00bc77;
}

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.edit-button {
  font-weight: bold;
  padding: 10px;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.btnedit button {
  width: 206.4px;
}

@media (min-width: 720px) {
  .transaction-button {
    width: 200px;
  }
  .btnedit button {
    width: 155px;
  }
}