.mainerror {
    margin: 10vh 0;
    color: #00bc77;
}

.h2error {
    font-size: 96px;
    font-weight: 700;
    line-height: 100%;
    margin: 0 0 10vh;
    @include mobile {
        font-size: 288px;
    }
}

.h3error{
    font-size: 18px;
    font-weight: 500;
    @include mobile {
        font-size: 36px;
    }
}

.aerror {
    font-size: 14px;
    font-weight: 500;
    color: #00bc77;
    @include mobile {
        font-size: 18px;
    }
}